$main-color: #704214;

$second-main: #d7d7d7;
$dark: rgba(0, 0, 0, 0.9);
$black: #000000;

$white: #ffffff;
$text-primary: #1e293b;
$decoration-primary: #475569;
$shadow: 6px 9px 10px -1px rgba(71, 85, 105, 0.9);
$grey-border: #7c7c7c;
