@use '../base/variables.scss' as *;

@media (max-width: 1800px) {
    .introducing__me {
        padding-left: 171px;
    }
    .introducing__nav ul {
        padding-left: 20px;
        gap: 10px;
    }
}

@media (max-width: 1600px) {
    .introducing__me {
        padding-left: 120px;
        padding-right: 10px;
    }
    .introducing__greetings {
        margin-top: 150px;
        font-size: 30px;
        line-height: 47px;
    }
    .introducing__name {
        line-height: 60px;
        height: 60px;
    }
    .introducing__descr {
        font-size: 18px;
    }
    .introducing__photo_img {
        padding-left: 50px;
    }
}

@media (max-width: 1500px) {
    .introducing__photo_me {
        width: 580px;
    }
}

@media (max-width: 1440px) {
    .services__descr {
        max-width: 630px;
    }
}

@media (max-width: 1400px) {
    .introducing__me {
        padding-left: 80px;
    }
    .introducing__nav_li {
        font-size: 14px;
    }
    .introducing__name {
        font-size: 45px;
    }
}

@media (max-width: 1300px) {
    .introducing__photo_img {
        padding-left: 20px;
    }
    .introducing__photo_img {
        width: 550px;
    }
    .introducing__nav ul {
        padding-left: 40px;
    }
    .portfolio__pages {
        grid-template-columns: repeat(auto-fill, minmax(400px, 0));
        grid-template-rows: repeat(auto-fill, minmax(250px, 0));
        grid-auto-rows: minmax(250px, 0);
    }
    .portfolio__page_bg {
        gap: 10px;
    }
    .portfolio__page_descr {
        font-size: 14px;
        &-header {
            font-size: 18px;
        }
    }
}

@media (max-width: 1200px) {
    .introducing {
        padding-top: 20px;
        min-height: 100px;
    }
    .introducing__greetings {
        margin-top: 70px;
        font-size: 25px;
        line-height: 30px;
    }
    .introducing__name {
        font-size: 40px;
        line-height: 50px;
        height: 50px;
    }
    .introducing__descr {
        margin-top: 20px;
        font-size: 16px;
        width: 300px;
        span span {
            font-size: 18px;
        }
    }
    .introducing__contacts {
        margin-top: 50px;
    }
    .introducing__contact_me {
        font-size: 14px;
    }
    .introducing__contacts_icon {
        width: 51px;
        height: 46px;
        img {
            height: 24px;
            width: 24px;
        }
    }
    .introducing__nav {
        margin-top: 15px;
        & ul {
            padding-left: 30px;
            gap: 0px;
        }
    }

    .introducing__nav_li {
        padding: 8px;
    }
    .introducing__about_descr {
        font-size: 14px;
    }
    .btn {
        height: 40px;
    }
    .introducing__photo_img {
        width: 420px;
    }
    .introducing__me {
        padding-left: 80px;
    }
    .introducing__photo_me {
        width: 420px;
    }
    .skills__wrapper {
        grid-template-columns: repeat(auto-fill, minmax(140px, 0));
        grid-template-rows: repeat(auto-fill, minmax(110px, 0));
        grid-auto-rows: minmax(110px, 0);
    }
    .services__img {
        width: 300px;
        height: 300px;
    }

    .services__descr {
        max-width: 530px;
    }
    .contacts {
        padding-bottom: 50px;
    }
}

@media (max-width: 992px) {
    .burger {
        display: flex;
    }
    .introducing {
        flex-direction: column-reverse;
        background: inherit;
        padding-bottom: 30px;
    }
    .introducing__me {
        width: 100%;
        padding-left: 50px;
        padding-right: 30px;
        padding-bottom: 10px;
    }
    .introducing__greetings {
        margin-top: 40px;
    }
    .introducing__me_wrapper {
        transform: rotateY(0deg);
    }
    .introducing__photo {
        position: relative;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .introducing__header {
        display: none;
    }
    .introducing__photo_me {
        position: absolute;
        right: 0px;
        top: 6px;
    }
    .introducing__contacts {
        margin-top: 34px;
    }
    .introducing__contacts_social {
        gap: 25px;
    }
    .introducing__about {
        margin-top: 20px;
    }
    .portfolio__header {
        height: 221px;
    }
    .portfolio__pages {
        grid-template-columns: repeat(auto-fill, minmax(300px, 0));
        grid-template-rows: repeat(auto-fill, minmax(180px, 0));
        grid-auto-rows: minmax(180px, 0);
    }
    .portfolio__page_bg {
        gap: 0px;
    }
    .portfolio__page_descr {
        font-size: 10px;
        width: 300px;
        &-header {
            font-size: 14px;
        }
    }
    .portfolio {
        min-height: 100px;
    }
    .portfolio__more {
        font-size: 16px;
    }
    .services {
        &__wrapper {
            padding: 20px 0px;
        }
        &__card {
            margin: 30px auto;
            padding: 10px;
            flex-direction: column;
            align-items: center;
            width: 560px;
            &:first-child {
                margin: 0 auto;
            }
        }
        &__opportunitys {
            padding: 0 10px;
        }
    }
    .footer__author {
        font-size: 12px;
    }
    .footer {
        min-height: 100px;
        gap: 30px;
    }
    .popup-modal__close {
        right: 0px;
    }
}

@media (max-width: 768px) {
    .introducing {
        box-shadow: none;
    }
    .introducing__photo_img {
        display: none;
    }
    .introducing__greetings {
        margin-top: 30px;
    }
    .introducing__descr {
        width: 100%;
        span {
            justify-content: center;
        }
    }
    .introducing__me {
        text-align: center;
        padding-bottom: 30px;
    }
    .introducing__contacts_social {
        justify-content: center;
        gap: 20px;
    }
    .introducing__about {
        margin-top: 30px;
    }
    .trapezoid {
        display: none;
    }
    .portfolio__header {
        padding: 10px 0px;
        height: 130px;
    }
    .portfolio__nav {
        padding-left: 5px;
        padding-right: 5px;
    }
    .portfolio__tabs {
        flex-wrap: wrap;
    }
    .portfolio__pages {
        padding-top: 30px;
    }
    .line {
        margin: 40px auto;
    }
    .skills__block {
        padding: 10px 0px;
        margin: 40px;
        gap: 40px;
    }
    .skills__wrapper {
        grid-template-columns: repeat(auto-fill, minmax(120px, 0));
    }
    .contacts {
        gap: 40px;
        padding-bottom: 20px;
    }
    .contacts__form {
        width: 500px;
    }
    .wrapperCookie {
        min-height: 150px;
        flex-direction: column;
        gap: 10px;
        justify-content: space-around;
    }
    .popup-modal {
        .contacts {
            &__form {
                width: 500px;
            }
            &__input {
                width: 400px;
            }
            &__text {
                width: 400px;
            }
        }
    }
}

@media (max-width: 576px) {
    .burger {
        width: 51px;
        height: 46px;
    }
    .header__menu {
        padding: 30px 10px;
        &-nav {
            padding-left: 20px;
        }
    }
    .introducing__photo {
        padding-left: 5px;
        padding-right: 5px;
    }
    .introducing__me {
        padding-left: 5px;
        padding-right: 5px;
    }
    .portfolio .header {
        border: 4px solid $decoration-primary;
    }
    .header {
        width: 300px;
        height: 70px;
        border: 4px solid $decoration-primary;
        letter-spacing: 3px;
    }
    .skills__wrapper {
        grid-template-columns: repeat(auto-fill, minmax(100px, 0));
    }
    .education {
        gap: 20px;
        .portfolio__pages {
            padding-top: 10px;
        }
    }
    .education__descr {
        padding: 5px;
        font-size: 16px;
    }
    .services__card {
        width: 310px;
    }
    .education .portfolio__pages {
        grid-template-columns: repeat(auto-fill, minmax(300px, 0));
        grid-template-rows: repeat(auto-fill, minmax(180px, 0));
        grid-auto-rows: minmax(180px, 0);
    }
    .services__img {
        width: 280px;
        height: 280px;
    }
    .contacts__form {
        width: 300px;
        padding: 20px 5px;
        gap: 20px;
    }
    .contacts__input {
        width: 300px;
    }
    .contacts__text {
        width: 300px;
    }
    .contacts__validate_text {
        width: 300px;
    }
    .btn__form {
        width: 150px;
        height: 40px;
    }
    .error {
        font-size: 10px;
    }
    .success {
        font-size: 10px;
    }
    .popup-modal {
        .contacts {
            &__form {
                width: 370px;
            }
            &__input {
                width: 300px;
            }
            &__text {
                width: 300px;
            }
        }
    }
}

@media (max-width: 376px) {
    .introducing__name {
        font-size: 30px;
    }
    .footer__author {
        font-size: 10px;
    }
    .popup-modal {
        .contacts {
            &__form {
                width: 310px;
            }
            &__input {
                width: 280px;
            }
            &__text {
                width: 280px;
            }
        }
    }
}
