@use '../base/variables.scss' as *;

.btn {
    padding: 10px;
    transition: all 0.3s;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    box-shadow: $shadow;
    cursor: pointer;
    &__about {
        transition: all 0.5s ease-out;
        background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px,
            0 calc(100% - 4px);
        background-image: linear-gradient(
            45deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%
        );
        background-repeat: no-repeat;
        background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
        background-color: $text-primary;
        border: 1px solid $grey-border;
        animation: shine 5s ease reverse infinite;
        a {
            font-size: 16px;
            text-transform: uppercase;
            text-decoration: none;
            color: $white;
        }
    }
    &__form {
        transition: all 0.3s;
        width: 200px;
        height: 45px;
        background-color: inherit;
        border: none;
        border-right: 3px solid $decoration-primary;
        border-left: 3px solid $decoration-primary;
        color: $decoration-primary;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.5s ease-out;
        background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px,
            0 calc(100% - 4px);
        background-image: linear-gradient(
            45deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%
        );
        background-repeat: no-repeat;
        background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
        animation: shine 5s ease reverse infinite;
    }
}

@media screen and (hover: hover) {
    .btn__about {
        &:hover {
            transform: scale(1.05);
        }
    }
    .btn__form {
        &:hover {
            font-size: 17px;
            color: $text-primary;
            border-right: 3px solid $text-primary;
            border-left: 3px solid $text-primary;
        }
    }
}
