@use '../base/variables.scss' as *;

.btn {
    padding: 10px;
    transition: all 0.3s;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    box-shadow: $shadow;
    cursor: pointer;
    &__about {
        background-color: $text-primary;
        border: 1px solid $grey-border;
        a {
            font-size: 16px;
            text-transform: uppercase;
            text-decoration: none;
            color: $white;
        }
    }
    &__form {
        transition: all 0.3s;
        width: 200px;
        height: 45px;
        background-color: inherit;
        border: none;
        border-right: 3px solid $decoration-primary;
        border-left: 3px solid $decoration-primary;
        color: $decoration-primary;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
    }
}

@media screen and (hover: hover) {
    .btn__about {
        &:hover {
            transform: scale(1.05);
        }
    }
    .btn__form {
        &:hover {
            font-size: 17px;
            color: $text-primary;
            border-right: 3px solid $text-primary;
            border-left: 3px solid $text-primary;
        }
    }
}
