@use '../base/variables.scss' as *;

.education {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    .portfolio__pages {
        background-color: inherit;
        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }
    .portfolio__page {
        transition: all 0.3s;
        position: relative;
        box-shadow: $shadow;
        border: 1px solid $grey-border;
        border-radius: 5px;
        @media screen and (hover: hover) {
            &:hover {
                z-index: 10;
                transform: scale(1.05);
            }
        }
    }
    &__article {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__descr {
        font-size: 20px;
        display: block;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        color: $text-primary;
        a {
            text-transform: uppercase;
            color: $text-primary;
            cursor: pointer;
        }
    }
}
