@use '../base/variables.scss' as *;

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 30px;
    background-color: var(--dark);
    min-height: 326px;
    gap: 70px;
    &__back {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        div {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }
        span {
            position: relative;
            animation: top 1.5s ease infinite;
            animation-play-state: running;
            border: none;
        }
        span::after {
            content: '';
            border: none;
            position: relative;
            transform: rotate(45deg);
            left: 6px;
            display: block;
            width: 15px;
            height: 2px;
            background-color: var(--white);
        }
        span::before {
            border: none;
            content: '';
            position: relative;
            right: 5px;
            top: 1px;
            transform: rotate(135deg);
            display: block;
            width: 16px;
            height: 2px;
            background-color: var(--white);
        }
        .min::after {
            width: 12px;
            left: 5px;
            top: -1px;
        }
        .min::before {
            width: 12px;
            right: 2px;
        }
    }
    &__contacts {
        &_social {
            display: flex;
            justify-content: center;
            gap: 20px;
            .introducing__contacts_icon {
                box-shadow: 3px 6px 7px -2px var(--grey-border);
            }
        }
    }
    &__author {
        color: var(--white);
        font-size: 18px;
        line-height: 18px;
    }
}

.back_up {
    display: flex;
    justify-content: center;
    color: var(--white);
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}

@keyframes top {
    from {
        bottom: 0px;
    }
    50% {
        bottom: 10px;
    }
    100% {
        bottom: 0px;
    }
}
