@use '../base/variables.scss' as *;

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 404px;
    height: 107px;
    border: 8px solid $decoration-primary;
    border-radius: 5px;
    background: transparent;
    color: $text-primary;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: $shadow;
}
