.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 404px;
    height: 107px;
    border: 8px solid rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}
