@use '../base/variables.scss' as *;

.introducing {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    min-height: 800px;
    padding-top: 50px;
    align-items: center;
    background: linear-gradient(135deg, #f8fafc 0%, #e2e8f0 100%);
    box-shadow: 6px 9px 30px -1px rgba(71, 85, 105, 0.9);
    &__me {
        z-index: 2;
        padding: 0px 30px 80px 251px;
        width: 50%;
        perspective: 1000px;
        &_wrapper {
            transition: all 0.3s;
            transform: rotateY(10deg);
            transform-style: preserve-3d;
            @media screen and (hover: hover) {
                &:hover {
                    transform: rotateY(0deg);
                }
            }
        }
    }
    &__header {
        position: relative;
        z-index: 2;
        min-height: 46px;
    }
    &__nav {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            list-style-type: none;
        }
        &_li {
            transition: all 0.5s;
            padding: 8px 15px;
            color: $text-primary;
            font-size: 17px;
            line-height: 21px;
            text-align: center;
            border-radius: 8px;
            text-decoration: none;
            text-transform: uppercase;
            @media screen and (hover: hover) {
                &:hover {
                    background-color: $text-primary;
                    color: $white;
                    box-shadow: $shadow;
                }
            }
        }
    }
    &__greetings {
        margin-top: 80px;
        color: $text-primary;
        font-size: 40px;
        line-height: 47px;
    }
    &__name {
        margin-top: 10px;
        height: 94px;
        color: $text-primary;
        font-size: 60px;
        line-height: 94px;
    }
    &__descr {
        margin-top: 40px;
        width: 426px;
        color: rgb(0, 0, 0, 0.8);
        font-size: 20px;
        line-height: 25px;
        text-transform: uppercase;
        span {
            display: flex;
            align-items: center;
            margin-top: 8px;
            height: 30px;
            span {
                padding: 4px 10px;
                color: $white;
                background-color: $text-primary;
                letter-spacing: 1px;
                border-radius: 5px;
                font-size: 22px;
                box-shadow: $shadow;
            }
        }
    }
    &__contacts {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        &_social {
            display: flex;
            gap: 31px;
            align-items: center;
        }
        &_icon {
            transition: all 0.3s;
            padding: 10px 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 61px;
            height: 56px;
            border-radius: 15px;
            box-shadow: $shadow;
            background: $second-main;
            text-decoration: none;
            @media screen and (hover: hover) {
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    &__contact_me {
        font-size: 16px;
        text-transform: uppercase;
    }
    &__about {
        margin-top: 70px;
        height: 50px;
        display: flex;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;
        &_descr {
            font-size: 16px;
            text-transform: uppercase;
            color: $text-primary;
        }
    }

    &__photo {
        position: relative;
        z-index: 2;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_img {
            padding-left: 100px;
        }
        &_me {
            max-height: 774px;
            width: 650px;
            object-fit: contain;
            display: block;
            border-radius: 20px;
        }
    }
}

.burger {
    z-index: 1001;
    transition: all 0.3s;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 56px;
    border-radius: 15px;
    box-shadow: $shadow;
    background: $text-primary;
    gap: 7px;
    cursor: pointer;
    @media screen and (hover: hover) {
        &:hover {
            transform: scale(1.05);
        }
    }
    span {
        transition: all 0.3s;
        position: relative;
        display: block;
        width: 25px;
        height: 1px;
        background-color: $white;
    }
    &__active {
        border: 1px solid $decoration-primary;
        & span:first-child {
            top: 4px;
            transform: rotate(45deg);
        }
        & span:nth-child(2) {
            display: none;
        }
        & span:last-child {
            top: -4px;
            transform: rotate(135deg);
        }
    }
}

.header__menu {
    z-index: 1000;
    padding: 90px 10px;
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: rgb(215, 215, 215, 0.95);
    transition: transform 0.4s;
    overflow-y: auto;
    scrollbar-width: none;
    &_active {
        transform: translateX(100%);
    }
    &-nav {
        margin-top: 40px;
        padding-left: 50px;
        ul {
            display: flex;
            flex-direction: column;
            row-gap: 25px;
            padding: 0;
            list-style-type: none;
        }
    }
    &-link {
        transition: all 0.3s ease-out;
        color: $text-primary;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        cursor: pointer;
        @media screen and (hover: hover) {
            &:hover {
                font-size: 23px;
                color: $decoration-primary;
                background-size: 100% 2px;
            }
        }
        &:focus {
            outline: none;
            font-size: 23px;
            color: $decoration-primary;
            background-size: 100% 2px;
        }
    }
}

.canvas-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.trapezoid {
    position: absolute;
    bottom: 0;
    border-bottom: 200px solid #f8fafc;
    border-left: 30vw solid transparent;
    border-right: 30vw solid transparent;
    height: 0;
    width: 100%;
}
