.popup-modal {
    background-color: rgb(0, 0, 0, 0.95);
    transition: transform 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    transform: translateX(-100%);
    .contacts {
        &__input {
            color: #ffffff;
            border-left: 5px solid #ffffff;
            border-bottom: 5px solid #ffffff;
            &:focus {
                box-shadow: 0px 10px 15px 0px rgba(255, 255, 255, 0.7);
            }
            &::placeholder {
                color: #ffffff;
                text-transform: uppercase;
                font-size: 14px;
            }
        }
        &__text {
            color: #ffffff;
            border-left: 5px solid #ffffff;
            border-bottom: 5px solid #ffffff;
            &:focus {
                box-shadow: 0px 10px 15px 0px rgba(255, 255, 255, 0.7);
            }
            &::placeholder {
                color: #ffffff;
                text-transform: uppercase;
                font-size: 14px;
            }
        }
    }
    &__close {
        border: none;
        position: absolute;
        top: -10px;
        right: 30px;
        cursor: pointer;
        &::after,
        &::before {
            content: '';
            position: relative;
            display: block;
            width: 20px;
            height: 2px;
            background-color: #ffffff;
        }
        &::after {
            bottom: 2px;
            transform: rotate(45deg);
        }
        &::before {
            transform: rotate(135deg);
        }
    }
}

.popup-modal_active {
    transform: translateX(0);
}
