@use '../base/variables.scss' as *;

.popup-modal {
    background-color: rgb(21, 31, 46, 0.98);
    transition: transform 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    z-index: 2000;
    transform: translateX(-100%);
    overflow-y: auto;
    scrollbar-width: none;
    .contacts {
        &__form {
            margin: 50px 0px;
            border: 2px solid var(--popup-primary);
            border-radius: 10px;
            overflow-y: auto;
            width: 600px;
        }
        &__input {
            color: var(--popup-primary);
            border: 1px solid var(--popup-primary);
            border-radius: 5px;
            &:focus {
                border: none;
                box-shadow: 6px 9px 10px -1px var(--popup-primary);
                outline: 2px solid var(--popup-primary);
            }
            &::placeholder {
                color: var(--popup-primary);
                text-transform: uppercase;
                font-size: 14px;
            }
        }
        &__text {
            color: var(--popup-primary);
            border: 1px solid var(--popup-primary);
            border-radius: 5px;
            &:focus {
                border: none;
                box-shadow: 6px 9px 10px -1px var(--popup-primary);
                outline: 2px solid var(--popup-primary);
            }
            &::placeholder {
                color: var(--popup-primary);
                text-transform: uppercase;
                font-size: 14px;
            }
        }
    }
    .btn__form {
        border: 2px solid var(--popup-primary);
        border-radius: 5px;
        color: var(--popup-primary);
        @media screen and (hover: hover) {
            &:hover {
                transform: scale(1.1);
                box-shadow: 6px 9px 10px -1px var(--grey-border);
            }
        }
        &:focus {
            transform: scale(1.1);
            box-shadow: 6px 9px 10px -1px var(--grey-border);
            outline: 2px solid var(--popup-primary);
            border: none;
        }
    }
    &__close {
        border: none;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        cursor: pointer;
        div {
            width: 40px;
            height: 30px;
            display: flex;
            justify-content: end;
            align-items: center;
            &::after,
            &::before {
                content: '';
                position: relative;
                display: block;
                width: 20px;
                height: 2px;
                background-color: var(--popup-primary);
            }
            &::after {
                transform: rotate(45deg);
                right: 10px;
            }
            &::before {
                transform: rotate(135deg);
                left: 10px;
            }
        }
    }
}

.popup-modal_active {
    transform: translateX(0);
}
