@use '../base/variables.scss' as *;

.services {
    &__header {
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        color: $text-primary;
    }
    &__wrapper {
        margin-top: 30px;
        display: block;
        padding: 20px;
    }
    &__card {
        position: relative;
        margin-top: 30px;
        transition: all 0.3s;
        display: flex;
        gap: 20px;
        padding: 15px 40px 15px 15px;
        width: 100%;
        height: 100%;
        border: 2px solid $grey-border;
        box-shadow: $shadow;
        border-radius: 10px;
        &:first-child {
            margin-top: 0;
        }
        @media screen and (hover: hover) {
            &:hover {
                z-index: 10;
                transform: scale(1.02);
            }
        }
    }
    &__icon {
        width: 350px;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img {
        display: block;
        width: 350px;
        height: 350px;
        border: none;
        border-radius: 10px;
        object-fit: cover;
        box-shadow: 6px 9px 10px -1px rgb(0, 0, 0, 0.5);
    }
    &__descr {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 930px;
        header {
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }
    &__subheader {
        font-size: 25px;
        color: $text-primary;
        text-decoration: underline;
        text-transform: uppercase;
    }
    &__opportunitys {
        margin-top: 20px;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 16px;
        overflow: hidden;
        color: $decoration-primary;
    }
    &__btn {
        position: absolute;
        bottom: 15px;
        right: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 70px;
    }
}

// layout animation
.layout-animation {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 5px;
}

.layout-block {
    position: absolute;
    background: rgba(71, 85, 105, 0.9);
    border-radius: 4px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    &:nth-child(1) {
        transition: all 0.3s;
        top: 0;
        left: 0;
        width: 100%;
        height: 15%;
        animation-delay: 0s;
        animation: top-childe1 10s ease-in-out infinite;
        border: none;
    }

    &:nth-child(2) {
        transition: all 0.3s;
        top: 65px;
        left: 0;
        width: 56%;
        height: 82%;
        animation: change-child2 10s infinite;
        border: none;
    }

    &:nth-child(3) {
        top: 65px;
        left: 210px;
        width: 40%;
        height: 50%;
        animation: change-child3 10s infinite;
        border: none;
    }

    &:nth-child(4) {
        transition: all 0.3s;
        top: 250px;
        left: 210px;
        width: 40%;
        height: 29%;
        animation: change-child4 10s infinite;
        border: none;
    }
}

// frontend animation
.frontend-animation {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 5px;
}

.frontend-input {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid $text-primary;
    background-color: transparent;
    animation: input-background 10s infinite;
    &_circle {
        position: relative;
        top: -2px;
        display: block;
        width: 22px;
        height: 22px;
        border-radius: 100%;
        background-color: $white;
        border: 1px solid $text-primary;
        animation: input 10s infinite;
    }
}

.frontend-block {
    &-left {
        opacity: 0;
        padding: 5px;
        top: 200px;
        left: 30px;
        width: 80px;
        height: 100px;
        border: 1px solid $decoration-primary;
        border-radius: 5px;
        position: relative;
        animation: card-left 10s infinite;
    }
    &-right {
        opacity: 0;
        padding: 5px;
        width: 80px;
        height: 100px;
        border: 1px solid $decoration-primary;
        border-radius: 5px;
        position: relative;
        top: -50px;
        left: 230px;
        animation: card-right 10s infinite;
    }
    &-one {
        display: block;
        height: 25px;
        background-color: $decoration-primary;
        border-radius: 5px;
    }
    &-two {
        margin-top: 10px;
        display: block;
        height: 50px;
        background-color: $decoration-primary;
        border-radius: 5px;
    }
}

// fullstack анимация
.fullstack-animation {
    width: 80%;
    height: 80%;
    position: relative;
    margin: 0 auto;
    perspective: 500px;
}

.stack-layer {
    position: absolute;
    border: 2px solid;
    border-radius: 8px;
    animation: rotate3d 6s ease-in-out infinite;

    &:nth-child(1) {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-color: $text-primary;
        animation-delay: 0s;
    }

    &:nth-child(2) {
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        border-color: $decoration-primary;
        animation-delay: -2s;
    }

    &:nth-child(3) {
        top: 30px;
        left: 30px;
        right: 30px;
        bottom: 30px;
        border-color: rgba(99, 102, 241, 0.4);
        animation-delay: -4s;
    }
}

.connection-line {
    position: absolute;
    background: linear-gradient(90deg, transparent, $text-primary, transparent);
    height: 2px;
    animation: connectFlow 3s ease-in-out infinite;

    &:nth-child(4) {
        top: 50%;
        left: 10%;
        right: 10%;
        animation-delay: 0s;
    }

    &:nth-child(5) {
        top: 30%;
        left: 20%;
        right: 20%;
        animation-delay: 1s;
    }

    &:nth-child(6) {
        top: 70%;
        left: 15%;
        right: 15%;
        animation-delay: 2s;
    }
}
