@use '../base/variables.scss' as *;

.services {
    &__header {
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        color: $text-primary;
    }
    &__wrapper {
        margin-top: 30px;
        display: block;
        padding: 20px;
    }
    &__card {
        margin-top: 30px;
        transition: all 0.3s;
        display: flex;
        gap: 20px;
        padding: 15px 40px 15px 15px;
        width: 100%;
        height: 100%;
        border: 2px solid $grey-border;
        box-shadow: $shadow;
        border-radius: 10px;
        &:first-child {
            margin-top: 0;
        }
        @media screen and (hover: hover) {
            &:hover {
                z-index: 10;
                transform: scale(1.02);
            }
        }
    }
    &__img {
        display: block;
        width: 350px;
        height: 350px;
        border: none;
        border-radius: 10px;
        object-fit: cover;
        box-shadow: 6px 9px 10px -1px rgb(0, 0, 0, 0.5);
    }
    &__descr {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 930px;
        header {
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }
    &__subheader {
        font-size: 25px;
        color: $text-primary;
        text-decoration: underline;
        text-transform: uppercase;
    }
    &__opportunitys {
        margin-top: 20px;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 16px;
        overflow: hidden;
        color: $decoration-primary;
    }
    &__btn {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 70px;
    }
}
