@use '../base/variables.scss' as *;

.skills {
    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__block {
        margin: 80px;
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        gap: 80px;
    }
    &__subheader {
        color: $text-primary;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 2px;
    }
    &__wrapper {
        display: grid;
        justify-content: center;
        gap: 30px;
        grid-template-columns: repeat(auto-fill, minmax(240px, 0px));
        grid-template-rows: repeat(auto-fill, minmax(170px, 0px));
        grid-auto-rows: minmax(170px, 0px);
    }
    &__skill {
        transition: all 1s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: center;
        &_img {
            display: block;
            width: 70px;
            height: 70px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &_descr {
            text-transform: uppercase;
            text-align: center;
            color: $text-primary;
        }
        @media screen and (hover: hover) {
            &:hover {
                animation: float 1s ease-in-out infinite;
            }
        }
    }
}
