@use './base/variables.scss' as *;

@keyframes shine {
    100% {
        background-position: 500% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    }
    20% {
        background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    }
    0% {
        background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px,
            0 calc(100% - 4px);
    }
}

@keyframes liquidMove {
    0%,
    100% {
        background-position: 0% 0%, 100% 100%, 50% 50%;
    }
    25% {
        background-position: 100% 0%, 0% 100%, 80% 20%;
    }
    50% {
        background-position: 100% 100%, 0% 0%, 20% 80%;
    }
    75% {
        background-position: 0% 100%, 100% 0%, 80% 80%;
    }
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes top-childe1 {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    5% {
        transform: translateY(-10px);
        opacity: 0.8;
    }
    40% {
        transform: translateY(0px);
        opacity: 1;
    }
    60% {
        transform: translateY(-10px);
        opacity: 0.8;
    }
    95% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes change-child2 {
    0% {
        height: 82%;
        left: 0;
        width: 56%;
        transform: rotateY(0deg);
    }
    15% {
        top: 65px;
        opacity: 0.8;
        height: 50%;
        left: 0;
        width: 56%;
    }
    35% {
        top: 65px;
        width: 40%;
        left: 210px;
        opacity: 1;
        height: 50%;
    }
    60% {
        left: 210px;
        width: 40%;
        opacity: 0.8;
        top: 250px;
        height: 29%;
        transform: rotateY(-180deg);
    }
    80% {
        top: 250px;
        left: 0;
        width: 56%;
        height: 29%;
    }
    95% {
        top: 65px;
        left: 0;
        opacity: 1;
        width: 56%;
        height: 82%;
    }
    100% {
        left: 0;
        opacity: 1;
        width: 56%;
        height: 82%;
    }
}

@keyframes change-child3 {
    0% {
        top: 65px;
        width: 40%;
        left: 210px;
        opacity: 1;
        height: 50%;
    }
    15% {
        left: 210px;
        width: 40%;
        opacity: 0.8;
        top: 250px;
        height: 29%;
    }
    25% {
        top: 250px;
        left: 0;
        width: 56%;
        height: 29%;
    }
    35% {
        top: 65px;
        left: 0;
        opacity: 1;
        width: 56%;
        height: 82%;
    }
    60% {
        left: 0;
        opacity: 0.8;
        width: 56%;
        height: 50%;
    }
    95% {
        top: 65px;
        width: 40%;
        left: 210px;
        opacity: 1;
        height: 50%;
    }
    100% {
        top: 65px;
        width: 40%;
        left: 210px;
        opacity: 1;
        height: 50%;
    }
}

@keyframes change-child4 {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    35% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes input {
    0% {
        left: 0px;
    }
    5% {
        left: 28px;
    }
    95% {
        left: 28px;
    }
    100% {
        left: 0px;
    }
}

@keyframes input-background {
    0% {
        background-color: transparent;
    }
    5% {
        background-color: rgba(71, 85, 105, 0.9);
    }
    95% {
        background-color: rgba(71, 85, 105, 0.9);
    }
    100% {
        background-color: transparent;
    }
}

@keyframes card-left {
    0% {
        opacity: 0;
        top: 200px;
        left: 30px;
    }
    5% {
        opacity: 0;
        top: 200px;
        left: 30px;
    }
    10% {
        opacity: 1;
        top: 200px;
        left: 30px;
    }
    25% {
        opacity: 1;
        top: 50px;
        left: 30px;
    }
    50% {
        opacity: 1;
        top: 50px;
        left: 230px;
    }
    75% {
        opacity: 1;
        top: 50px;
        left: 230px;
    }
    90% {
        opacity: 1;
        top: 200px;
        left: 230px;
    }
    95% {
        opacity: 1;
        top: 200px;
        left: 30px;
    }
    100% {
        opacity: 0;
        top: 200px;
        left: 30px;
    }
}

@keyframes card-right {
    0% {
        opacity: 0;
        top: -50px;
        left: 230px;
    }
    5% {
        opacity: 0;
        top: -50px;
        left: 230px;
    }
    10% {
        opacity: 1;
        top: -50px;
        left: 230px;
    }
    25% {
        opacity: 1;
        top: 100px;
        left: 230px;
    }
    50% {
        opacity: 1;
        top: 100px;
        left: 30px;
    }
    75% {
        opacity: 1;
        top: 100px;
        left: 30px;
    }
    90% {
        opacity: 1;
        top: -50px;
        left: 30px;
    }
    95% {
        opacity: 1;
        top: -50px;
        left: 230px;
    }
    100% {
        opacity: 0;
        top: -50px;
        left: 230px;
    }
}

@keyframes rotate3d {
    0%,
    100% {
        transform: rotateX(0) rotateY(0);
    }
    25% {
        transform: rotateX(15deg) rotateY(45deg);
    }
    50% {
        transform: rotateX(0) rotateY(90deg);
    }
    75% {
        transform: rotateX(-15deg) rotateY(135deg);
    }
}

@keyframes connectFlow {
    0%,
    100% {
        opacity: 0;
        transform: scaleX(0);
    }
    50% {
        opacity: 1;
        transform: scaleX(1);
    }
}
